html,
body {
    height: 100%;
}

/*.wrap {*/
    /*min-height: 100%;*/
    /*height: auto;*/
    /*margin: 0 auto -60px;*/
    /*padding: 0 0 60px;*/
/*}*/

/*.wrap > .container {*/
    /*padding: 70px 15px 20px;*/
/*}*/

/*.footer {*/
    /*height: 60px;*/
    /*background-color: #f5f5f5;*/
    /*border-top: 1px solid #ddd;*/
    /*padding-top: 20px;*/
/*}*/

/*.jumbotron {*/
    /*text-align: center;*/
    /*background-color: transparent;*/
/*}*/

/*.jumbotron .btn {*/
    /*font-size: 21px;*/
    /*padding: 14px 24px;*/
/*}*/

/*.not-set {*/
    /*color: #c55;*/
    /*font-style: italic;*/
/*}*/

/*!* add sorting icons to gridview sort links *!*/
/*a.asc:after, a.desc:after {*/
    /*position: relative;*/
    /*top: 1px;*/
    /*display: inline-block;*/
    /*font-family: 'Glyphicons Halflings';*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
    /*line-height: 1;*/
    /*padding-left: 5px;*/
/*}*/

/*a.asc:after {*/
    /*content: "\e151";*/
/*}*/

/*a.desc:after {*/
    /*content: "\e152";*/
/*}*/

/*.sort-numerical a.asc:after {*/
    /*content: "\e153";*/
/*}*/

/*.sort-numerical a.desc:after {*/
    /*content: "\e154";*/
/*}*/

/*.sort-ordinal a.asc:after {*/
    /*content: "\e155";*/
/*}*/

/*.sort-ordinal a.desc:after {*/
    /*content: "\e156";*/
/*}*/

/*.grid-view td {*/
    /*white-space: nowrap;*/
/*}*/

/*.grid-view .filters input,*/
/*.grid-view .filters select {*/
    /*min-width: 50px;*/
/*}*/

/*.hint-block {*/
    /*display: block;*/
    /*margin-top: 5px;*/
    /*color: #999;*/
/*}*/

/*.error-summary {*/
    /*color: #a94442;*/
    /*background: #fdf7f7;*/
    /*border-left: 3px solid #eed3d7;*/
    /*padding: 10px 20px;*/
    /*margin: 0 0 15px 0;*/
/*}*/

/*!* align the logout "link" (button in form) of the navbar *!*/
/*.nav li > form > button.logout {*/
    /*padding: 15px;*/
    /*border: none;*/
/*}*/

/*@media(max-width:767px) {*/
    /*.nav li > form > button.logout {*/
        /*display:block;*/
        /*text-align: left;*/
        /*width: 100%;*/
        /*padding: 10px 15px;*/
    /*}*/
/*}*/

/*.nav > li > form > button.logout:focus,*/
/*.nav > li > form > button.logout:hover {*/
    /*text-decoration: none;*/
/*}*/

/*.nav > li > form > button.logout:focus {*/
    /*outline: none;*/
/*}*/

/*====================================================*/
                /*Виджеты*/

.widget-title{
    color: #000;
    font-size: 150%;
    font-weight: normal;
    text-transform: uppercase;
}
.category-item a{
    background: url('../img/bg-category/pattern-grey.gif') #fcfcfc;;
    color: #444;
    display: inline-block;
    font-weight: bold;
    padding: 2px 25px 2px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-bottom: 15px;
    font-size: 14px;
}

.category-item a:hover{
    background: url('../img/bg-category/pattern-hover.gif') #666 ;
    color: white;
    text-shadow: 1px 1px 0px #333;
    transition: 500ms;
}

.sidebar-product img{  width:100%;  }
.sidebar-product a{color: #575757}
.sidebar-product p span{color: #CF1F18}

/*====================================================*/
            /*Product*/

.product-item{padding: 10px 5px; margin: 5px}
.product-item img{ width: 100%;border: 1px solid #eeeeee;padding: 20px 10px;margin-bottom: 10px}
.product-item a { font-size: 20px;color: black;}

.product-item:hover{background: black}
.product-item:hover img{border: none}
.product-item:hover a {color: white; text-decoration: none}



.prod-buttons,
.prod-buttons li{
    display: inline;
}

.button{
    background: url(../img/icons/button-hover.gif) left bottom repeat-x #3A3A3A;
    border: 0;
    color: #fff;
    padding: 6px 8px 4px 8px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 12px;
}
.button:hover{  background: #CF1F18; color: #fff; cursor: pointer;transition: 500ms; }

/*.prod-qty-input,*/
input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea{
    border: 1px solid #ddd;
    border-radius: 3px;
    line-height: 1;
    padding: 5px 2px;
    text-align: center;
    -webkit-border-radius: 3px;
    border-bottom: 0px;
    outline: none;
    height: 20px;
    font-size: 1rem;
    margin: 0px 0px 10px 0px;
}

.prod-qty{
    font-weight: 700;
    line-height: 2;
    padding-top: 2px;
    color: #666;
    font-size: 12px;
}

.coment-box{

}
.coment-box .text-box{
    padding: 0px;
}

.coment-username{
    float: left;
    color: #222;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
}
.coment-date{
    color: #aaa;
    font-size: 12px;
    font-weight: normal;
}

#materialbox-overlay{
    background: rgba(0,0,0, .7);
}
/*====================================================*/
                /*guarantees*/

.text-list,
.text-list li {
    padding-left: 20px;
    list-style-type: disc;
    margin-bottom: 5px;
}
.map-img{
    width:100%;
}

/*====================================================*/
                        /*INDEX*/

.product-filter {
    border-bottom: 1px dotted #9f9f9f;
    margin-bottom: 10px;
    overflow: hidden;
    padding-bottom: 10px;
}


.bordr-dotted{ border-left: 1px dotted #9f9f9f; border-right: 1px dotted #9f9f9f;}
.product-item-index{  padding: 10px;  }

.priduct-title-index{
    color: #313131;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 10px 0 0;
    text-decoration: none;
    display: inline-block;


    max-height: 62px;
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие  NOT WORK 0_0*/
}
.priduct-title-index:hover{color: #CF1F18; text-decoration: underline;transition: 500ms;}


.price-index{
    color: #CF1F18;
    font-family: "abelregular", Arial, sans-serif;
    font-size: 150%;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 10px;
    margin-top: 10px;
}

.old-price-index{  color: #888; font-size: 14px;  }
.crossed{  text-decoration: line-through;  }


.product-discription-index{
    color: #888;
    margin-bottom: 15px;
    margin-top: 0px;
}

.new-priduct{
    position: absolute;
    background: red;
    color: white;
    padding: 0 5px;
    margin: 0px;
}


.product-detail{
    float: left;
    color: #313131;
    font-size: 100%;
    font-weight: bold;
    margin: 5px 10px 0 0;
    text-decoration: underline;
    display: inline-block;
}
.product-detail:hover{color: #CF1F18;text-decoration: underline;transition: 500ms;}


.add-to-cart{
    background: url(../img/icons/btn-addtocart.gif) left top no-repeat;
    float: right;
    height: 26px;
    margin: 0;
    overflow: hidden;
    text-decoration: none;
    text-indent: -999em;
    width: 26px;
    display: block;
    transition: 500ms;
}
.add-to-cart:hover{ background:  url(../img/icons/btn-addtocart.gif) left bottom no-repeat; }

/*====================================================*/
                /*Nawbar*/
.brand-logo{
    z-index: 999;
    top: -40px;
    position: relative;
    margin-left: 20px;
}

nav{
    background: url("../img/nav-img/bg-nav.gif") repeat-x #1C1C1C;
}
.nav-ul li {
    background: url(../img/nav-img/bg-line-nav.gif) 100% 0 repeat-y;
}
.nav-ul li a{
     color: #A5A5A5;
 }
.nav-ul li a:active,
.nav-ul .active{
    color: white;
}

#dropdown1{border-bottom: 5px solid #CF1F18;
    border-radius: 0px 0px 15px 15px;
    min-width: 200px;
    margin-top: 64px;
    z-index: 1;
    }
#dropdown1 li{background: none}
.dropdown-button.active{
    background: white;
    color: black;
    border-radius: 15px 15px 0px 0px;
}
.dropdown-content li:hover {background: white}
.dropdown-content li>a{
    color: #666;  text-decoration: none; transition: 250ms;border-bottom: 1px dotted #666;font-size: 14px;
    padding: 10px;
}

.dropdown-content li:last-child a{border-bottom: none}

.dropdown-content li>a:hover{
    color: #CF1F18; transition: 250ms;background: white;
}

/*====================================================*/
.text-center{  text-align: center;  }
*{
    /*transition: 500ms;*/
    /*font-size: 14px;*/
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: strict;
    -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto;
}

p{color: #666;}
h1,h2,h3,h4,h5,h6{padding:0px 10px 0px 10px; }

.slider-bottom-shadow{
    background: url(../img/bg-mask.png) repeat-x 0 100%;
    bottom: 0;
    height: 300px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}


p a{  color: #CF1F18;  text-decoration: none;  }

p a:hover{  color: #CF1F18; transition: 500ms; }



.title-h2{  margin: 10px 0px 20px 0px;  text-decoration: none;  font-size: 28px;  }

.title-h3{  margin: 10px 0px -5px 0px;  text-decoration: none;  font-size: 24px;  }



a .title-h2{ color: #CF1F18;  }
a .title-h2:hover{ color: #CF1F18;transition: 500ms;  }

.heavy-text-span{ font-weight: 700;  color: #666666;  }
.phone-span{  color: #43B51F;  }

.text-box{  padding: 15px 10px 15px 10px;font-size: 14px  }

.margin-left{margin-left: 90px}

.top-div{ height:42px;  background: black; }
.top-div p{ float: right;  margin: 10px; padding: 0 20px }
.top-div p a{ color: #ccc; border-bottom:1px dotted #666; }

.row{  padding:10px;  }

form .row{
    margin-bottom: 0px;
    padding: 0px;
}
form{  padding: 5px; }

footer{  background: black;  }
footer p{  color: #ffffff;  padding: 15px;  }
footer p a{  color: #ffffff; }

.filter-form{
    /*display: flex;*/
    float: right;
}
.filter-form .row{margin-right: 10px}
.filter-form select{
    font-size: 12px;
    height: 2rem;
}
.filter-p{
    display: flex;
    max-width: 280px;

}
.filter-p span{ padding: 8px;font-size: 12px}

/*======================================================================*/


.modal{
    background: none;
    box-shadow: none;
    max-width: 800px;
}
.modal-content{
    max-width: 800px;
}
