html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/*====================================================*/
                /*Виджеты*/
.widget-title{
    color: #000;
    font-size: 150%;
    font-weight: normal;
    text-transform: uppercase;
}
.category-item a{
    background: url('../img/bg-category/pattern-grey.gif') #fcfcfc;;
    color: #444;
    display: inline-block;
    font-weight: bold;
    padding: 2px 25px 2px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-bottom: 15px;
}

.category-item a:hover{
    background: url('../img/bg-category/pattern-hover.gif') #666 ;
    color: white;
    text-shadow: 1px 1px 0px #333;
}

.sidebar-product img{  width:100%;  }
.sidebar-product a{color: #575757}
.sidebar-product p span{color: #CF1F18}

/*====================================================*/
            /*Product*/

.product-item{padding: 10px 5px; margin: 5px}
.product-item img{ width: 100%;border: 1px solid #eeeeee;padding: 20px 10px;margin-bottom: 10px}
.product-item a { font-size: 20px;color: black;}

.product-item:hover{background: black}
.product-item:hover img{border: none}
.product-item:hover a {color: white; text-decoration: none}

/*====================================================*/
                /*guarantees*/

.text-list,
ul:not(.browser-default),
ul:not(.browser-default)>li
{
    padding-left: 25px;
    list-style-type: disc;
    margin-bottom: 5px;
}
.map-img{
    width:100%;
}

/*====================================================*/
.text-center{  text-align: center;  }
*{  transition: 500ms;  font-size: 14px; color: #666;

    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: strict;
    -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto;
}

h1,h2,h3,h4,h5,h6{padding:0px 10px 0px 10px; }


p a{  color: #CF1F18;  text-decoration: none;  }
p a:hover{  color: #CF1F18;  }

.title-h2{
    margin: 10px 0px 20px 0px;  text-decoration: none;  font-size: 32px;
}
a .title-h2{ color: #CF1F18;  }
a .title-h2:hover{ color: #CF1F18;  }

.heavy-text-span{ font-weight: 700;  color: #666666;  }
.phone-span{  color: #43B51F;  }

.text-box{  padding: 15px 10px 15px 10px;  }



